<div class="col-md-7 center border" ng-controller="ProjectController" >
    <form name="addProjectForm" class="form-horizontal">

        <div class="form-group text-center">
            <h3>Edit Project</h3>
        </div>
        <div class="form-group">
            <label for="Name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       id="Name"
                       placeholder="Name"
                       ng-model="newProject.Name"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea type="text"
                          class="form-control"
                          id="Description"
                          placeholder="Description"
                          ng-model="newProject.Description"
                          required></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="ProjectKey" class="col-sm-2 control-label">Project Key</label>
            <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       id="ProjectKey"
                       placeholder="ProjectKey"
                       ng-model="newProject.ProjectKey"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="LeaderId" class="col-sm-2 control-label">Leader</label>

            <div class="col-sm-10">
                <select class="form-control"
                        id="LeaderId"
                        ng-model="newProject.LeadId"
                        ng-options="user.Id as user.Username for user in users"
                        required>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="Priorities" class="col-sm-2 control-label">Priorities</label>
            <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       id="Priorities"
                       placeholder="Priorities"
                       ng-model="newProject.priorities"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="StringLabels" class="col-sm-2 control-label">Labels</label>
            <div class="col-sm-10">
                <input type="text"
                       class="form-control"
                       id="StringLabels"
                       placeholder="Labels"
                       ng-model="newProject.StringLabels"
                       required>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-md-13">
                <button type="submit" class="btn btn-success" ng-click="editProject(newProject)">Add Project</button>
            </div>
        </div>
    </form>
</div>