<nav ng-controller="AuthenticationController" id="menu" class="navbar navbar-inverse navbar-static-top">
    <ul ng-show="!authService.isLoggedIn()" class="nav navbar-nav">
        <li><a href="#/">Issue Tracking System</a></li>

    </ul>
    <ul  class="nav navbar-nav navbar-left" ng-show="authService.isLoggedIn()">
        <li><a href="#/dashboard">Issue Tracking System</a></li>
        <li ng-if="authService.isAdmin()"><a href="#/projects">Projects</a></li>
        <li ng-if="authService.isAdmin()"><a href="#/users">Users</a></li>
        <li><a href="#/" ng-click="logout()" >Logout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-if="authService.isLoggedIn()">
        <li><a href="#/profile/password">Change password</a></li>
    </ul>
    <h2></h2>
</nav>