<nav ng-controller="AuthenticationController" id="menu" class="navbar navbar-default navbar-static-top">
    <ul ng-show="!authService.isLoggedIn()" class="nav navbar-nav">
        <li><a href="#/">Issue Tracking System</a></li>

    </ul>
    <ul  class="nav navbar-nav" ng-show="authService.isLoggedIn()">
        <li><a href="#/dashboard">Issue Tracking System</a></li>
        <li><a href="#/projects">Projects</a></li>
        <li><a href="#/" ng-click="logout()" >Logout</a></li>
    </ul>
    <h2></h2>
</nav>