<div class=" col-lg-6 col-lg-offset-4">
    <form name="form">
        <h2>Change Password</h2>
        <div class="form-group">
            <label class="control-label" for="oldPassword">Old Password</label>
            <div class="controls">
                <input class="form-control" type="password" id="oldPassword" name="oldPassword" ng-model="userData.oldPassword"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="password">New Password</label>
            <div class="controls">
                <input class="form-control" type="password" id="password" name="password" ng-model="userData.NewPassword"/>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="confirmPassword">Confirm Password</label>
            <div class="controls">
                <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" ng-model="userData.ConfirmPassword" required ng-minlength="6" ng-maxlength="100" ng-compare-passwords="password" />
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-large" ng-click="changePassword(userData)" >Change Password</button>
    </form>
    </div>