<div class="form-group">
    <label for="assignee">Assignee</label>
    <div class="controls">
        <select class="form-control" id="assignee" name="assignee" ng-model="issueData.AssigneeId">
            <option selected="selected">
                {{issueData.Assignee.Username}}
            </option>
            <option ng-repeat="user in users | orderBy: 'Username'" value="{{user.Id}}">
                {{user.Username}}
            </option>
        </select>
    </div>
</div>

<div class="form-group" >
    <label for="project">Project</label>
    <div class="controls">

        <select class="form-control" id="project" name="project" ng-model="issueData.ProjectId" ng-change="getPriorities()">
            <option ng-repeat="project in projects | orderBy: 'Name'" value="{{project.Id}}">
                {{project.Name}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="dueDate">Due Date</label>
    <div class="controls">
        <input class="form-control" type="date" id="dueDate" name="dueDate" ng-model="issueData.DueDate" />
    </div>
</div>

<div class="form-group" >
    <label for="priority">Priority</label>
    <div class="controls">
        <select class="form-control" id="priority" name="priority" ng-model="issueData.PriorityId">
            <option>{{issueData.Priority.Name}}</option>
            <option  ng-repeat="priority in priorities" value="{{priority.Id}}">
                {{priority.Name}}
            </option>
        </select>


    </div>
</div>

<div class="form-group">
    <label for="labels">Labels</label>
    <input type="text" class="form-control" id="labels" placeholder="Labels" ng-model="issueData.StringLabels" ng-keyup="getLabels()">
    <div ng-if="labels.length > 0" class="label-holder">
        <div ng-repeat="label in labels" ng-click="addLabel(label)" class="label-option">{{label.Name}}</div>
    </div>
    <br>
</div>

<div class="form-group">
    <label class="control-label" for="title">Title</label>
    <div class="controls">
        <input type="text" class="form-control" id="title" name="title" placeholder="Title" ng-model="issueData.Title">

    </div>
</div>

<div class="form-group">
    <label for="description">Description</label>
    <div class="controls">
        <textarea rows="5" class="form-control" placeholder="Description" id="description" name="description" ng-model="issueData.Description">{{issueData.Description}}</textarea>

    </div>
</div>
<div class="form-group text-center">
    <div class="col-md-13">
        <button type="submit" class="btn btn-success" ng-click="addIssue(issueData)">Add Issue</button>
    </div>
</div>
